<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Comments</title>
    <link rel="stylesheet" href="/static/css/user.css" />
    <link rel="stylesheet" href="/static/css/user_my_comments.css" />
    <script src="/static/js/user/user_my_comments.js" type="module"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/user/feed">Forum</a>
    </nav>
    <main id="commentContainer" class="forum-content"></main>

    <template id="comment-template">
      <div class="comment">
        <strong class="comment-post"></strong>
        <div class="comment-content"></div>
        <time class="comment-time"></time>
      </div>
    </template>
  </body>
</html>
