<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Activity</title>
    <link rel="stylesheet" href="/static/css/user.css" />
    <link rel="stylesheet" href="/static/css/user_feed.css" />
    <script src="/static/js/user/user_mainpage.js" type="module"></script>
    <script src="/static/js/user/user_activity.js" type="module"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/user/feed">Forum</a>
      <ul class="navbar-links">
        <li><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </nav>

    <nav class="side-menu" id="side-menu">
      <ul>
        <li><a href="/user/feed" id="my-feed-link">My Feed</a></li>
        <li><a href="#" id="create-post-btn">Create Post</a></li>
        <li class="category-dropdown-toggle">
          Categories <span class="dropdown-arrow">&#9662;</span>
        </li>
        <li>
          <ul id="category-tabs" class="category-tabs dropdown-content"></ul>
        </li>
        <li><a href="/user/activity" class="active">Activity</a></li>
      </ul>
      <div class="side-glow"></div>
    </nav>

    <div class="activity-menu">
      <button id="tab-posts">My Posts</button>
      <button id="tab-comments">My Comments</button>
      <button id="tab-reactions">My Reactions</button>
    </div>

    <div id="reactions-filter" class="reactions-filter" style="display:none;">
      <label><input type="radio" name="reactFilter" value="all" checked /> All</label>
      <label><input type="radio" name="reactFilter" value="liked" /> Liked</label>
      <label><input type="radio" name="reactFilter" value="disliked" /> Disliked</label>
    </div>

    <div class="forum-content" id="activityContainer"></div>

    <template id="post-template">
      <div class="post">
        <h3 class="post-header"></h3>
        <div class="post-title"></div>
        <p class="post-content"></p>
        <time class="post-time"></time>
      </div>
    </template>

    <template id="comment-template">
      <div class="comment">
        <strong class="comment-post"></strong>
        <div class="comment-content"></div>
        <time class="comment-time"></time>
      </div>
    </template>
  </body>
</html>
