.activity-menu {
  display: flex;
  gap: 1em;
  margin: 1em 0 1em 270px;
}
.activity-menu button {
  padding: 0.5em 1em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: var(--bg-secondary);
  color: var(--color-primary);
}
.activity-menu button.active {
  background: var(--gradient-main);
  color: #fff;
}
